body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../public/weather.jpg');
    background-size: cover;
    background-position: center;
}

.Login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 45vh;
    width: 400px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    padding: 10px;
}

.Login-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    margin-top: 15px;
}

.Input-window {
    font-size: 18px;
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(250, 250, 250);
    border: none;
    margin-bottom: 20px;
}

.Input-window::placeholder {
    font-size: 16px;
}

#Login-button {
    background-color: white;
    color: black;
    width: 250px;
    padding: 8px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

#Login-button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
    pointer-events: none;
}

#Login-button:hover:enabled {
    background-color: rgb(175, 175, 175);
    color: white;
}

.error-message {
    font-size: 14px;
    color: red;
    margin-top: 5px;
}

.Dashboard {
    display: flex;
    flex-direction: column;
    height: 900px;
    width: 1800px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    padding: 10px;
}

.Dashboard-header {
    margin: 0 auto 0 50px;
    height: fit-content;
    width: max-content;
    display: flex;
    flex-direction: row;
}

.weather-entries {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin-left: 20px;
}

.weather-entry {
    width: calc(16.6667% - 10px);
    margin-left: 50px;
    margin-top: 30px;
}

.weather-icon {
    font-size: 48px;
}

.weather-temperature {
    font-size: 36px;
    font-weight: bold;
}

.weather-date {
    font-size: 24px;
}

.weather-extra p {
    font-size: 18px;
    color: rgb(122, 122, 122);
}